@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center !important;
  align-items: center;
}

#category {
  margin-bottom: 15px;
}

.main-wrapper .place-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 83%;
  max-width: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.main-wrapper {
  list-style: none;
  margin: 1rem auto;
  padding: 0;
  width: 98%;
  max-width: 60rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.filters-inner-wrapper {
  position: fixed;
}

.filter-category {
  display: block;
  background: #ff0055;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  margin-top: 5px;
}

span.place-item__price {
  position: absolute;
  background: black;
  color: white;
  padding: 5px;
  font-weight: 900;
}